@media (max-width: 425px) {

    main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    }

    .half {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 340px;
    }

    .content h1 {
        font-weight: 900;
        color: #ffffff;
        font-size: 30px;
        padding-bottom: 11px;
    }
    
    .content p {
        font-weight: 400;
        color: #ffffff;
        font-size: 20px;
    }
    
}